/* PREVIOUS SALES REPORT */
.previousSR .inner {
  width: 1000px;
  height: 350px;
  position: fixed;
  top: 110px;
  left: 350px;
  color: #525252;
}
.previousSR .inner > p {
  position: absolute;
}
.previousSR .inner > p::after {
  content: ">";
  margin-left: 5px;
}
.previousSR .inner > p.select {
  border: 1px solid #b6b5b5;
  padding: 0 5px 0 5px;
  top: 30px;
}
.previousSR form[name=selectForm] {
  position: absolute;
  top: 30px;
  left: 100px;
}
.previousSR form[name=selectForm] > #pickdate {
	position: absolute;
	top: 6px;
	left: 5px;
}
.previousSR form[name=selectForm] > #dateSubmit {
  position: absolute;
  top: 6px;
  left: 170px;
  padding: 2px 10px;
  border: 1px solid #b6b5b5;
  background-color: #fff;
  color: #525252;
}
.previousSR form[name=selectForm] > #dateSubmit:hover{ 
  color: #fff;
  background-color: #b6b5b5;
  transition: .1s;
}
.previousSR form[name=sortForm] > input[type=button] {
  position: absolute;
  top: 15px;
  border: 1px solid #b6b5b5;
  background-color: #fff;
  color: #525252;
  padding: 3px 13px;
  margin: 20px;
}
.previousSR form[name=sortForm] > input[type=button]:hover {
  color: #fff;
  background-color: #b6b5b5;
  transition: .1s;
}
.previousSR form[name=sortForm] > input[type=button]#totalsales {
  position: absolute;
  right: 311px;
}
.previousSR form[name=sortForm] > input[type=button]#gendersales {
  position: absolute;
  right: 258px;
}
.previousSR form[name=sortForm] > input[type=button]#agesales {
  position: absolute;
  right: 191px;
}
.previousSR form[name=sortForm] > input[type=button]#ticketsales {
  position: absolute;
  right: 94px;
}
.previousSR form[name=sortForm] > input[type=button]#facilitysales {
  position: absolute;
  right: 0px;
}
.previousSR .srresult .inner {
  position: fixed;
  top: 200px;
  left: 350px;
  border: 1px solid #b6b5b5;
  overflow : auto;
}
.previousSR form[name=saveForm] > input[type=submit] {
  position: fixed;
  top: 580px;
  border: 1px solid #b6b5b5;
  background-color: #fff;
  padding: 4px 14px;
  color: #525252;
  padding: 7px 17px;
}
.previousSR form[name=saveForm] > input[type=submit].save {
	position: absolute;
	right: 10px;
}
.previousSR form[name=saveForm] > input[type=submit].save:hover {
  color: #fff;
  background-color: #b6b5b5;
  transition: .1s;
}

/* LIST TABLE */
#srresult {
  	width: 100%;
  	overflow: auto;
}


/*Customer Print table css*/
			
		table {
		    width: 100%;
		    border-top: 1px solid #444444;
		    border-collapse: collapse;
		  }
		  th, td {
		    border-bottom: 1px solid #444444;
		    padding: 10px;
		  }	
